@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow.eot');
    src: url('ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('ArialNarrow.woff2') format('woff2'),
        url('ArialNarrow.woff') format('woff'),
        url('ArialNarrow.ttf') format('truetype'),
        url('ArialNarrow.svg#ArialNarrow') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Th';
    src: url('ArialTh.eot');
    src: url('ArialTh.eot?#iefix') format('embedded-opentype'),
        url('ArialTh.woff2') format('woff2'),
        url('ArialTh.woff') format('woff'),
        url('ArialTh.ttf') format('truetype'),
        url('ArialTh.svg#ArialTh') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: url('ArialMT.eot?#iefix') format('embedded-opentype'),
        url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype'),
        url('ArialMT.svg#ArialMT') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial MT';
    src: url('ArialMTBlack.eot');
    src: url('ArialMTBlack.eot?#iefix') format('embedded-opentype'),
        url('ArialMTBlack.woff2') format('woff2'),
        url('ArialMTBlack.woff') format('woff'),
        url('ArialMTBlack.ttf') format('truetype'),
        url('ArialMTBlack.svg#ArialMTBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial GEO';
    src: url('ArialGEOItalic.eot');
    src: url('ArialGEOItalic.eot?#iefix') format('embedded-opentype'),
        url('ArialGEOItalic.woff2') format('woff2'),
        url('ArialGEOItalic.woff') format('woff'),
        url('ArialGEOItalic.ttf') format('truetype'),
        url('ArialGEOItalic.svg#ArialGEOItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Geo_Arial';
    src: url('GeoArialItalic.eot');
    src: url('GeoArialItalic.eot?#iefix') format('embedded-opentype'),
        url('GeoArialItalic.woff2') format('woff2'),
        url('GeoArialItalic.woff') format('woff'),
        url('GeoArialItalic.ttf') format('truetype'),
        url('GeoArialItalic.svg#GeoArialItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial GEO';
    src: url('ArialGEOBold.eot');
    src: url('ArialGEOBold.eot?#iefix') format('embedded-opentype'),
        url('ArialGEOBold.woff2') format('woff2'),
        url('ArialGEOBold.woff') format('woff'),
        url('ArialGEOBold.ttf') format('truetype'),
        url('ArialGEOBold.svg#ArialGEOBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

